export USER_ID="user_id_used_into_token"
export AUTHORIZATION_KEY_USER="the_user_token"     # jeune
export AUTHORIZATION_KEY_ADMIN="the_admin_token"   # conseiller
export LOAD_BALANCER="http://sc-lb-pool-01.osc-fr1.scalingo-network.com"
